#matrix{
    position: absolute;
    top: 0;
    right: 0;

    width: 55%;
    height: 100vh;

    z-index: 0;
    opacity: .50;
    pointer-events: none;

    mask-image:
        linear-gradient(
            to top,
            transparent 0%,
            black 30%
        );
    -webkit-mask-image:
        linear-gradient(
            to top,
            transparent 0%,
            black 30%
        );
}