*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#0f1117;
    color:#fff;
    overflow-x:hidden;
}

section{

    padding:100px 8%;

}
